.content {
  width: auto;
  margin: 0 50px;

  &__back {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #1D1D1D;
    margin-top: 20px;
  }

  &__title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3b785a;
    margin-top: 20px;
  }

  &__list {
    display: flex;
    font-size: 15px;
    margin-top: 20px;
  }

  &__listItem {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
}