@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.content {
  width: auto;
  margin: 0 50px;

  &__back {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #1D1D1D;
    margin-top: 20px;
  }

  &__title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3b785a;
    margin-top: 20px;
  }

  &__list {
    display: flex;
  }

  &__text {
    width: 400px;
    height: 500px;
    font-family: "PT Sans Narrow", sans-serif;
  }

  &__listPicture {
    margin-left: 150px;
  }
}